@import '@cloudscape-design/design-tokens/index';



.chatBubble {
    border: 1px solid $color-border-divider-default;
    border-radius: $border-radius-item;
    padding: $space-container-horizontal;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.aiBubble {
    background-color: $color-background-cell-shaded;
}

.humanBubble {
    background-color: transparent;
}

.avatarImg {
    border: 1px solid $color-border-divider-default;
    border-radius: 100%;
}

.activeAvatarContainer {
    position: relative;
}

.activeAvatarImg {
    z-index: 4;
    position: relative;
}

.activeAvatar {
    --offset: 1px;
    z-index: 3;
    width: 32px;
    height: 32px;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    background-color: $color-background-cell-shaded;
}

.activeAvatar::before {
    content: '';
    background: radial-gradient(90% 50% at 50% 0%, #7638FA 0%, rgba(255, 255, 255, 0.00) 100%), radial-gradient(93.46% 50% at 50% 100%, #3E8DFF 0%, rgba(35, 47, 62, 0.00) 100%);;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 100%;
    animation: rotate 1.5s linear infinite;
}

.activeAvatar::after {
    content: '';
    background: inherit;
    border-radius: inherit;
    position: absolute;
    z-index: 1;
    inset: var(--offset);
    height: calc(100% - 2 * var(--offset));
    width: calc(100% - 2 * var(--offset));
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) scale(1) rotate(0turn);
    }

    to {
        transform: translate(-50%, -50%) scale(1) rotate(1turn);
    }
}


.chatContentContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;
}

.chatFooterIcons {
    display: flex;
    flex-direction: row;
    gap: .25rem;
}

.divider {
    background-color: $color-border-divider-default;
    height: 100%;
    width: 1px;
}

.shimmerEffect {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    // background: linear-gradient(90deg, rgba(52, 20, 120, 0.30) 0%, rgba(118, 56, 250, 0.30) 32.29%, rgba(187, 248, 255, 0.30) 67.19%, rgba(62, 141, 255, 0.30) 100%);
    background: linear-gradient(90deg, rgba(118, 56, 250, 0.15) 0%, rgba(187, 248, 255, 0.15) 50%, rgba(62, 141, 255, 0.15) 100%);
} 

.shimmerEffectDark {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    // background: linear-gradient(90deg, rgba(51, 20, 118, 0.50) 0%, rgba(118, 56, 250, 0.50) 32.29%, rgba(187, 248, 255, 0.50) 67.19%, rgba(62, 141, 255, 0.50) 100%);
    background: linear-gradient(90deg, rgba(118, 56, 250, 0.25) 0%, rgba(187, 248, 255, 0.25) 50%, rgba(62, 141, 255, 0.25) 100%);
}